h1 {
  font-size: 100px;
}

p {
  font-size: 20px;
  text-align: center;
  color: #fff;
}

button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #000;
  background-color: #ff0000;
  border: none;
  padding: 15px 32px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  transition-duration: .5s;
  width: 250px;
  height: 75px;
}
  
button:hover {
  background-color: #4CAF50;
  color: white;
}